{% extends "base.html" %}

{% block title %}
QuickCal | {{ month_name }} {{ day }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h2 class="text-center">{{ day_name }}, {{ month_name }} {{ day }}, {{ year }}</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th colspan="3" scope="col" style="background-color: #007bff; color: #fff; text-align: center;">Assignments</th>
                  </tr>
              </thead>
              <tbody>
                  {% for assignment in assignments %}
                  <tr>
                      <td class="col-4">{{ assignment.title }}</td>
                      <td class="col-4">{{ assignment.desc}}</td>
                      <td class="col-4">{{ assignment.due }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

          <form method="POST" action="/add" class="text-center">
            <input type="hidden" name="redirect_url" value="{{ request.path }}" required>
            <input type="hidden" name="date" id="date" value="{{ year }}-{{ month }}-{{ day }}" required>
            <input type="text" name="title" id="title" placeholder="Assignment Name" autocomplete="off" required>
            <input type="text" name="description" id="description" placeholder="Description" autocomplete="off" required>
            <select name="weight" id="weight" required>
              <option value="" disabled selected>Priority</option>
              <option value="1">1 - Not very important.</option>
              <option value="2">2 - Moderately important.</option>
              <option value="3">3 - Very important!</option>
            </select>
            <input type="time" name="time" id="time" required>
            <br>
            <input type="submit" value="Add Assignment" class="text-center mt-3">
          </form>

          <form action="{{ url_for('day', month=month, day=day) }}" method="GET" class="text-center mt-5">
            <select name="schedule_id" id="schedule">
                <option value="0">All Schedules</option>
                {% for schedule in current_user.schedules %}
                  {% if schedule.id == selected_schedule_id %}
                    <option value="{{ schedule.id }}" selected>{{ schedule.title }}</option>
                  {% else %}
                    <option value="{{ schedule.id }}">{{ schedule.title }}</option>
                  {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
        
      </div>
  </div>
</div>
{% endblock %}